/* CSS DOCUMENT */

/* Reset styles */
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* Container styles */
div.container {
    max-width: 80em;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

/* Figure styles */
figure {
    display: grid;
    grid-template-columns: 3fr 0.8fr;
    grid-column-gap: 1em;
    margin-bottom: 4em;
}

/* Image styles */
img {
    grid-column: 1;
    width: 100%; /* Please leave this line. */
    display: block;
}

/* Section styles */
section {
    margin: 1.5rem;
}

/* Body styles */
body {
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    line-height: 140%;
}

/* Main styles */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    margin-bottom: 3em;
}

/* Heading 1 styles */
h1 {
    background-color: rgb(255, 140, 0);
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding: 2em 0.4em 0.4em;
    font-family: Sutro, serif;
    font-weight: 700;
    line-height: 110%;
}

/* Heading 2 styles */
h2 {
    background-color: rgb(255, 140, 0);
    color: rgb(241, 241, 206);
    font-size: 1.5em;
    padding: 0.3em 0.7em 1em;
    font-family: Sutro, serif;
    font-weight: 100;
}

/* Heading 3 styles */
h3 {
    margin: 1.5em 0.8em 1em;
    font-size: 1.4em;
    font-weight: 100;
    color: rgb(255, 140, 0);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    grid-column: 1/3;
    border-top: 2px solid rgb(255, 140, 0);
    padding-top: 1em;
}

/* Figcaption styles */
figcaption {
    grid-column: 2;
    padding: 2em 3.2em 2em;
    font-family: poppins, sans-serif;
    font-style: italic;
}

/* List item styles */
li {
    font-family: poppins, sans-serif;
    margin: 0.8em 0.4em 1em;
}

/* Unordered list styles */
ul {
    font-family: poppins, sans-serif;
    margin: 0.4em 1em 1em;
}

ol {
    font-family: poppins, sans-serif;
    margin: 0.8em 1em 1em;
}

/* Footer styles */
footer {
    background-color: rgb(255, 140, 0);
    color: rgb(241, 241, 206);
    padding: 1.5em 1em;
    font-family: poppins, sans-serif;
}
