/* CSS DOCUMENT */

body {
    font-family: sans-serif;
    line-height: 1.4em;
    color: #222;
    background-color: #fafafa;
    box-sizing: border-box;
}

div.container {
    max-width: 40em;
    margin: 1em auto;
    padding: 1em;
}

section {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
}

section p {
    margin-top: 0;
}

section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section ul li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
	flex: 1 0 15em;
}

section ul li label {
    flex: 0 0 10em;
}

section ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 0.4em;
}

section.order ul{
	display: flex;
	flex-wrap: wrap;
	
}

section.order ul li {
    display: block;
    margin-bottom: 0.3em;
	flex: 1 0 15em;
}

section.method ul{
	display: flex;
	flex-wrap: wrap;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 6em;
    background: #fcfcfc;
    border: 1px solid #e8e8e8;
    padding: 0.4em;
    font-family: sans-serif;
    color: #777;
    flex-wrap: wrap;
}

@media only screen and (min-width: 40em) {
    div.container {
        margin: 1em auto;
    }
}
